:root {
    --branding-color: #6c63ff;
     --secondary-color: #272142;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 90px;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
}

.hero {
    background-color: #f9f7fe;
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-family: var(--heading-font-family);
    font-size: 36px;
    font-weight: bold;
    line-height: 2;
    color: var(--secondary-color);
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
}

.btn-branding {
   background: var(--branding-color);
   border-radius: 4px; 
   color: white;
   font-size: 18px;
   line-height: 27px;
   padding: 12px 20px;
}